:root {
  --oui-font-family: 'Open Sans', sans-serif;
  --oui-font-size-base: 14.5px;

  /* colors */
  --oui-color-primary: 0 76 237;
  --oui-color-primary-light: 26 92 255;
  --oui-color-primary-darken: 0 53 168;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 0 76 237;
  --oui-color-link-light: 26 92 255;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 221 221 221;
  --oui-color-quaternary: 175 175 175;

  --oui-color-danger: 255 90 101;
  --oui-color-danger-light: 255 138 145;
  --oui-color-danger-darken: 222 79 88;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 5 193 104;
  --oui-color-success-light: 90 217 144;
  --oui-color-success-darken: 4 168 91;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 158 44;
  --oui-color-warning-light: 255 200 130;
  --oui-color-warning-darken: 213 105 27;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 13 16 23;
  --oui-color-fill-active: 23 37 69;

  --oui-color-base-1: 180 188 202;
  --oui-color-base-2: 126 138 154;
  --oui-color-base-3: 64 78 110;
  --oui-color-base-4: 26 36 64;
  --oui-color-base-5: 26 36 64;
  --oui-color-base-6: 16 21 30;
  --oui-color-base-7: 13 16 23;
  --oui-color-base-8: 10 15 28;
  --oui-color-base-9: 8 11 18;
  --oui-color-base-10: 6 10 20;

  --oui-color-base-foreground: 247 247 247;
  --oui-color-line: 26 36 64;

  --oui-color-trading-loss: 255 90 101;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 5 193 104;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 26 92 255;
  --oui-gradient-primary-end: 0 76 237;

  --oui-gradient-secondary-start: 8 11 18;
  --oui-gradient-secondary-end: 23 37 69;

  --oui-gradient-success-start: 4 168 91;
  --oui-gradient-success-end: 5 193 104;

  --oui-gradient-danger-start: 222 79 88;
  --oui-gradient-danger-end: 255 90 101;

  --oui-gradient-brand-start: 26 92 255;
  --oui-gradient-brand-end: 0 76 237;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 213 105 27;
  --oui-gradient-warning-end: 255 158 44;

  --oui-gradient-neutral-start: 8 11 18;
  --oui-gradient-neutral-end: 13 16 23;

  /* rounded */
  --oui-rounded-sm: 8px;
  --oui-rounded: 10px;
  --oui-rounded-md: 12px;
  --oui-rounded-lg: 16px;
  --oui-rounded-xl: 18px;
  --oui-rounded-2xl: 20px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 18rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 32.5rem;
}

html, body {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 14.5px !important;
}

.orderly-app-container,
.orderly-app-container *,
.orderly-app-container *::before,
.orderly-app-container *::after {
  font-family: 'Open Sans', sans-serif !important;
}
