:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 0 224 255; /* accent-1 */
  --oui-color-primary-light: 143 195 255; /* blue-200 */
  --oui-color-primary-darken: 10 196 221; /* blue-300 */
  --oui-color-primary-contrast: 255 255 255; /* neutral-100 */

  --oui-color-link: 0 224 255; /* accent-1 */
  --oui-color-link-light: 143 195 255; /* blue-200 */

  --oui-color-secondary: 255 255 255; /* neutral-100 */
  --oui-color-tertiary: 221 221 221; /* neutral-300 */
  --oui-color-quaternary: 221 221 221; /* neutral-300 */

  --oui-color-danger: 220 43 43; /* red-400 */
  --oui-color-danger-light: 255 90 101; /* red-300 */
  --oui-color-danger-darken: 220 43 43; /* red-400 */
  --oui-color-danger-contrast: 255 255 255; /* neutral-100 */

  --oui-color-success: 5 193 104; /* green-300 */
  --oui-color-success-light: 127 220 164; /* green-200 */
  --oui-color-success-darken: 17 132 91; /* green-400 */
  --oui-color-success-contrast: 255 255 255; /* neutral-100 */

  --oui-color-warning: 255 158 44; /* orange-300 */
  --oui-color-warning-light: 255 209 155; /* orange-200 */
  --oui-color-warning-darken: 213 105 27; /* orange-400 */
  --oui-color-warning-contrast: 255 255 255; /* neutral-100 */

  --oui-color-fill: 11 11 11; /* neutral-800 */
  --oui-color-fill-active: 30 30 30; /* neutral-700 */

  --oui-color-base-1: 175 175 175; /* neutral-400 */
  --oui-color-base-2: 130 130 130; /* neutral-500 */
  --oui-color-base-3: 64 64 64; /* neutral-600 */
  --oui-color-base-4: 30 30 30; /* neutral-700 */
  --oui-color-base-5: 30 30 30; /* neutral-700 */
  --oui-color-base-6: 11 11 11; /* neutral-800 */
  --oui-color-base-7: 11 11 11; /* neutral-800 */
  --oui-color-base-8: 5 5 5; /* secondary-1 */
  --oui-color-base-9: 5 5 5; /* secondary-1 */
  --oui-color-base-10: 5 5 5; /* secondary-1 */

  --oui-color-base-foreground: 255 255 255; /* neutral-100 */
  --oui-color-line: 245 245 245; /* neutral-200 */

  --oui-color-trading-loss: 220 43 43; /* red-400 */
  --oui-color-trading-loss-contrast: 255 255 255; /* neutral-100 */
  --oui-color-trading-profit: 5 193 104; /* green-300 */
  --oui-color-trading-profit-contrast: 255 255 255; /* neutral-100 */

  /* gradients */
  --oui-gradient-primary-start: 10 196 221; /* blue-300 */
  --oui-gradient-primary-end: 0 224 255; /* accent-1 */

  --oui-gradient-secondary-start: 11 11 11; /* neutral-800 */
  --oui-gradient-secondary-end: 30 30 30; /* neutral-700 */

  --oui-gradient-success-start: 17 132 91; /* green-400 */
  --oui-gradient-success-end: 5 193 104; /* green-300 */

  --oui-gradient-danger-start: 220 43 43; /* red-400 */
  --oui-gradient-danger-end: 255 90 101; /* red-300 */

  --oui-gradient-brand-start: 234 244 255; /* blue-100 */
  --oui-gradient-brand-end: 0 224 255; /* accent-1 */
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 213 105 27; /* orange-400 */
  --oui-gradient-warning-end: 255 158 44; /* orange-300 */

  --oui-gradient-neutral-start: 5 5 5; /* secondary-1 */
  --oui-gradient-neutral-end: 11 11 11; /* neutral-800 */

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}